<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta namr="author" content="Kangkang103 (Ben)" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow" />
    <meta name="rating" content="General" />
    <base target="_target" />
    <meta name="description" content="" />
    <title><%= data.name%></title>
    <link rel="stylesheet" href="/style/styles.css" />
  </head>
  <body>
    <ul>
      <li><%= data.name %></li>
      <li><%= data.id %></li>
      <li><%= data.age %></li>
      <li>Scholarchip: <%= data.scholarship.merit+data.scholarship.other %></li>
    </ul>
    <a href="/students">Go back to students page</a>
  </body>
</html>
